# Ambiente Virtual
venv/
.venv/
env/

# SEGURANÇA: Arquivo de senhas do Railway
.env

# Banco de dados local
db.sqlite3

# Arquivos temporários do Python
__pycache__/
*.pyc

# Configurações do VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db