# Ambiente Virtual
venv/
.venv/
env/

# SEGURANÇA: Arquivo de senhas e chaves
.env

# Banco de dados local (SQLite)
db.sqlite3
*.sqlite3

# Arquivos temporários do Python
__pycache__/
*.pyc

# Arquivos Estáticos e Media (Deploy)
staticfiles/
media/

# Configurações do VS Code e editores
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db