* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    width: 100%;
    /* O ../ sai da pasta css e permite entrar na pasta img */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/papeldeparede.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-navbar {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
    width: 80%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 20px;
    z-index: 1000;
}

.header-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.header-menu li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: 0.4s;
    opacity: 0.7;
}

.header-menu li a:hover {
    opacity: 1;
    transform: translateY(-2px);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}