/* Foto e Efeito Circular */
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.photo-border {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    padding: 3px;
    /* Borda Gradiente Neon */
    background: linear-gradient(45deg, #00d4ff, #7000ff);
    box-shadow: 0 0 40px rgba(0, 212, 255, 0.4);
}

.photo-border img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}