{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contate-me - Meu Portfólio</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <header>
        <section class="container-header">
            <nav class="header-navbar">
                <ul class="header-menu">
                    <li><a href="{% url 'index' %}">Voltar</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
    </main>

    <footer>
    </footer>

</body>

</html>