{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Meu Portfólio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>

<body>

    <header>
        <section class="container-header">
            <nav class="header-navbar">
                <ul class="header-menu nav-list">
                    <li class="nav-item"><a href="{% url 'index' %}">Voltar</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section class="container-main">
            <div class="box-main d-flex justify-content-center gap-4 flex-wrap mt-5">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'img/GithubPerfil.png' %}" class="card-img-top" alt="Foto do perfil do GitHub">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center text-dark">Visite meu GitHub</h5>
                        <p class="card-text text-black">
                            No meu perfil do GitHub você encontra trabalhos que refletem minha experiência e dedicação
                            em tecnologia.
                        </p>
                        <a href="https://github.com/washingtongui" target="_blank"
                            class="btn btn-primary mt-auto">Clique aqui</a>
                    </div>
                </div>

                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'img/LinkedinPerfil.png' %}" class="card-img-top"
                        alt="Foto do perfil do LinkedIn">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center text-dark">Visite meu LinkedIn</h5>
                        <p class="card-text text-black">
                            Acesse meu perfil no LinkedIn e descubra como posso contribuir com novas ideias e
                            oportunidades.
                        </p>
                        <a href="https://www.linkedin.com/in/washington-guilherme-da-s-gomes-753705331/" target="_blank"
                            class="btn btn-primary mt-auto">Clique aqui</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>