{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos - Washington</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/projetos.css' %}">
</head>

<body>

    <header>
        <section class="container-header">
            <nav class="header-navbar">
                <ul class="header-menu nav-list">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="btn-voltar">Voltar</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>

    <main class="container-embreve">
        <h1 class="nome-embreve">Em breve</h1>
    </main>

</body>

</html>